{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/Logo.png' %}" alt="Logo do Bookly Space" />
        <div class="lado__direito">
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <form action="{% url 'buscar' %}">
                        <input class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                        <button class = "busca__input__botao" type="submit">
                            <img class="busca__icone" src="{% static '/assets/ícones/1x/search(1).png' %}" alt="ícone de search">
                        </button>
                    </form>
                </div>
            </div>
            <div>
                <a href="{% url 'profile' %}" ><img class="perfil__icone" src="{% static '/assets/ícones/1x/Perfil.png' %}"></a>
            </div>
        </div>
        
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo(1).png' %}"> Home</a>
                <a href="#"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo(1).png' %}"> Mais lidas</a>
                <a href="#"><img src="{% static '/assets/ícones/1x/Novas - inativo(1).png' %}"> Novidades</a>
                <a href="#"><img src="{% static '/assets/ícones/1x/Recomendacoes - inativo.png' %}"> Recomendações</a>
            </nav>
        </section>
