{% extends 'biblioteca/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(1).png' %}" alt="banner Bookly Space">
                    <h1 class="banner__titulo"> A biblioteca mais completa de resenhas da literatura mundial!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Categorias:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Clássicos</li>
                        <li class="tags__tag">Filosofia</li>
                        <li class="tags__tag">Ciência</li>
                        <li class="tags__tag">Biografias</li>
                        <li class="tags__tag">Fantasia</li>
                        <li class="tags__tag">Romance</li>
                        <li class="tags__tag">Terror</li>
                    </ul>
                </section>
                <section class="biblioteca">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pelas nossas resenhas!</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for resenha in cards %}
                            <li class="card">
                                <a href="{% url 'review' resenha.id %}">
                                {% if resenha.imagem == '' or resenha.imagem == null %}
                                    <img class="card__imagem" src="{% static '/assets/imagens/biblioteca/image-not-found.png' %}" alt="foto">
                                {% else %}
                                    <img class="card__imagem" src="{{ resenha.imagem.url }}" alt="foto">
                                {%  endif %}
                                </a>
                                <span class="card__tag">{{ resenha.categoria }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ resenha.titulo }} </p>
                                    <p class="card__autor">{{ resenha.autor}}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ resenha.legenda }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="imagem__texto">
                                <p>Não encontramos nenhuma resenha!</p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}
