{% extends 'biblioteca/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(1).png' %}" alt="banner Bookly Space">
                    <h1 class="banner__titulo"> A biblioteca mais completa de resenhas da literatura mundial!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Categorias:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Clássicos</li>
                        <li class="tags__tag">Filosofia</li>
                        <li class="tags__tag">Ciência</li>
                        <li class="tags__tag">Biografias</li>
                        <li class="tags__tag">Fantasia</li>
                        <li class="tags__tag">Romance</li>
                        <li class="tags__tag">Terror</li>
                    </ul>
                </section>
                <section class="biblioteca">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pelas nossas resenhas!</h2>
                        <ul class="cards__lista">
                            <li class="card">
                                <a href="{% url 'review' %}">
                                    <img class="card__imagem" src="{% static '\assets\imagens\Anna.png' %}" alt="foto">
                                </a>
                                <span class="card__tag">Clássicos</span>
                                <div class="card__info">
                                    <p class="card__titulo">Anna Karenina - Liév Tolstoi</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Romance russo do século XIX</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}
