{% extends 'biblioteca/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="banner__imagem" src="{% static '/assets/imagens/biblioteca/' %}{{ resenha.imagem }}" alt="imagem">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo"> {{resenha.titulo}} </p>
                                <p class="imagem__descricao"> {{resenha.legenda}} </p>
                                <p class="imagem__texto"> {{resenha.descricao}} </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}